
th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid;
    padding: 8px;
}
table {
    border-collapse: collapse;
    width: 100%;
    justify-content:space-evenly;
    border: 1px solid;

}
.btn-btn-green{
    background-color:mediumseagreen;
    color: white;
    border: none;
    padding: 6px;
    margin-right: 10px;

}
.btn-btn-red{
    background-color: orangered;
    color: white;
    border: none;
    padding: 6px;
    margin-left: 10px;

    
}
