.App {
    background:white;
}

.searchbar{
    align-items: center;
    display: flex;
    width: auto;
    justify-content:space-between;
    margin-left: 500px;
    margin-top: 100px;
    border: none;
}
.btn-one{
    background-color: blue;
    color: white;
    text-decoration-color: white;
    margin-right: auto;
    margin-left: 10px;
    border: none;
    
}
.btn-two{
    background-color: orangered;
    margin-right: 25px;
    color: white;
    border: none;
    
}
.QA-btn{
    background-color:mediumseagreen;
    color: white;
    margin-top: 100px;
    margin-left: 500px;
    border: none;

}
.h4{
    margin-top: 100px;
    margin-left: 300px;
}
